# TODO: Which fields do we need to replace?
# interpreter
# date of service
# physician
# location?
# TODO: And for patient data:
# name
# date of birth
# date of injury
# adj number
# chart number
# NOTE: 
# can I make requests with Lua and parse them with snippets?
# I mean like python requests?
# In other words, can a functionnode send http requests to eams with data supplied from other nodes?
# nucks. absolutely nucks.
